<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:networkSecurityConfig="@xml/sibi_store_network_security_config"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true" />
</manifest>
